<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    {{username}}
   <!-- login.html -->
{% comment %} <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <label for="id_login">Username or Email:</label>
    {{ form.login }}
    <label for="id_password">Password:</label>
    {{ form.password }}
    {{ form.remember }}
    <button type="submit">Login</button>
</form> {% endcomment %}

    
</body>
</html>